{% extends 'base.html' %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-xs-offset-3">
                <form action="{{ login.views.form }}" method="post" enctype="multipart/form-data" class="form-horizontal">
                    {% csrf_token %}
{{ form.errors }}
{{ form.non_field_errors }}
                    <div class="form-group">
                        <div class="col-sm-4 control-label">
                            <label for="{{ form.trans_made_by.id_for_label }}">Transaction Made By:</label>
                        </div>
                        <div class="col-sm-8">
                            {{ form.trans_made_by }}
                        </div>
                        <!--<input type="text" id="grumble" name="trans_made_by"/>-->

                    </div>

                    <div class="form-group">
                        <div class="col-sm-4 control-label">
                        <label for="{{ form.type_of_trans.id_for_label }}">Type of Transaction:</label>
                        </div>
                        <div class="col-sm-8">
                            <select name="type_of_trans">
                              <option value="Credit">Credit</option>
                              <option value="Debit">Debit</option>
                            </select>
                    </div>
                    </div>

                    <div class="form-group">
 <div class="col-sm-4 control-label">
                        <label for="{{ form.trans_amount.id_for_label }}">Transaction Amount:</label>
                        </div>
                        <div class="col-sm-8">
                            {{ form.trans_amount }}
                        </div>
                    </div>

                    <div class="form-group">
                         <div class="col-sm-4 control-label">
                        <label for="{{ form.date_of_trans.id_for_label }}">Date of Transaction:</label>
                        </div>
                        <div class="col-sm-8">
                            {{form.date_of_trans}}
                        </div>
                    </div>

                 <div class="form-group">
                         <div class="col-sm-4 control-label">
                        <label for="{{ form.desc_of_item_purchased.id_for_label }}">Description of item purchased</label>
                        </div>
                        <div class="col-sm-8">
                            {{ form.desc_of_item_purchased }}
                        </div>
                    </div>

                    <div class="form-group">
                    <div class="col-sm-12">
                            <label >
                                Details To Whom Transaction Is Made:</label>
                        </div>
                        </div>

                     <div class="form-group">
                         <div class="col-sm-4 control-label">
                        <label for="{{ form.name.id_for_label }}">Name</label>
                        </div>
                        <div class="col-sm-8">
                            {{ form.name }}
                        </div>
                    </div>

                   <div class="form-group">
                         <div class="col-sm-4 control-label">
                        <label for="{{ form.accountno.id_for_label }}">Account No.:</label>
                        </div>
                        <div class="col-sm-8">
                            {{ form.accountno }}
                        </div>
                    </div>



                      <div class="form-group">
                         <div class="col-sm-4 control-label">
                        <label for="{{ form.phoneno.id_for_label }}">Phone No.:</label>
                        </div>
                        <div class="col-sm-8">
                            {{ form.phoneno }}
                        </div>
                    </div>

                     <div class="form-group">
                         <div class="col-sm-4 control-label">
                        <label for="{{ form.address.id_for_label }}">Address:</label>
                        </div>
                        <div class="col-sm-8">
                            {{ form.address }}
                        </div>
                    </div>

                  <div class="form-group">
                         <div class="col-sm-4 control-label">
                        <label for="{{ form.form_file.id_for_label }}">Transaction Proof:</label>
                        </div>
                        <div class="col-sm-8">
                            {{ form.form_file }}
                        </div>
                    </div>

                 <div class="form-group">
                         <div class="col-sm-4 control-label">
                        <label for="{{ form.descr_of_trans.id_for_label }}">Description Of Transaction</label>
                        </div>
                        <div class="col-sm-8">
                            {{ form.descr_of_trans }}
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-10 col-sm-push-2">
                        <input type="submit" value="submit" name="submit" class="btn btn-default"/>
                    </div>
                        </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}


{% block javascript %}

  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "#datepicker" ).datepicker();
  } );
  </script>

    <script>
        {% if not user.is_authenticated %}
            $("ul.nav.navbar-nav.navbar-right").css("display", "none");
        {% endif %}
    </script>
   <script type="text/javascript">
    $(function () {
        $('#datetimepicker').datetimepicker({
            inline: true,
            sideBySide: true,
            format: 'DD.MM.YYYY' /*remove this line if you want to use time as well */
        });
    });
</script>


{% endblock %}
