{% load staticfiles %}
<!DOCTYPE HTML>
<!--
	Visualize by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>

		<title>Visualize by TEMPLATED</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{% static 'css/main.css' %}" />
	</head>
	<body>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<h1>Transaction Proof:</h1>

					</header>

				<!-- Main -->
					<section id="main">

						<!-- Thumbnails -->



							<section class="thumbnails">
                                {% for image in images %}
								<div>

									<a href="../static/images/{{ user_id }}/{{ transaction_id }}/bill_{{ forloop.counter0 }}">
										<img src='../static/images/{{ user_id }}/{{ transaction_id }}/bill_{{ forloop.counter0 }}' alt="" />

									</a>
								</div>
                                    {% endfor %}
							</section>


					</section>

				<!-- Footer -->
					<footer id="footer">
						<p>Transaction Proof Gallery</p>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="{% static 'js/jquery.min.js' %}"></script>
			<script src="{% static 'js/jquery.poptrox.min.js' %}"></script>
			<script src="{% static 'js/skel.min.js' %}"></script>
			<script src="{% static 'js/main.js' %}"></script>

	</body>
</html>