<!DOCTYPE HTML>
{% extends 'base.html' %}
{% block javascript %}
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
		<style type="text/css">
${demo.css}
		</style>
		<script type="text/javascript">
$(function () {
    $('#container').highcharts({
        chart: {
            type: 'spline'
        },
        title: {
            text: '{{ username }}'
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            type: 'datetime',
            dateTimeLabelFormats: { // don't display the dummy year
                month: '%e. %b',
                year: '%b'
            },
            title: {
                text: 'Date'
            }
        },
        yAxis: {
            title: {
                text: 'Transaction Amount in Rs.'
            },
            min: 0
        },
        tooltip: {
            headerFormat: '',
            pointFormat: '{point.x:%e. %b %Y}: {point.y:.1f} Rs.'
        },

        plotOptions: {
            spline: {
                marker: {
                    enabled: true
                }
            }
        },

        series: [{
            name: '{{ username }}',
            // Define the data points. All series have a dummy year
            // of 1970/71 in order to be compared on the same x axis. Note
            // that in JavaScript, months start at 0 for January, 1 for February etc.
            data: [
                     {% for transaction in transaction %}


                [Date.UTC({{ transaction.date_of_trans.year }}, {{ transaction.date_of_trans.month  }} - 1, {{ transaction.date_of_trans.day }}), {{ transaction.trans_amount }}],

    {% endfor %}
            ]
        } ]
    });
});
		</script>


<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
{% endblock %}
{% block content %}
<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

{% endblock %}

</html>
