{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<div class="container">
    <div class="row">

            <div class="form-group pull-right">
    <input type="text" class="search form-control" placeholder="What you looking for?">
</div>
<span class="counter pull-right"></span>
<table class="table table-hover table-bordered results">
  <thead>
    <tr>
      <th>#</th>
      <th class="col-md-2 col-xs-2">Transaction Made By</th>
      <th class="col-md-2 col-xs-2">Transaction Amount</th>
      <th class="col-md-3 col-xs-3">Item Purchased</th>
      <th class="col-md-2 col-xs-2">Date of Transaction</th>
        <th class="col-md-1 col-xs-1">Status</th>
        <th class="col-md-1 col-xs-1">Edit</th>
       <th class="col-md-1 col-xs-1">Delete</th>

    </tr>
    <tr class="warning no-result">
      <td colspan="4"><i class="fa fa-warning"></i> No result</td>
    </tr>
  </thead>
  <tbody>

  {% for transaction in transaction %}
    <tr   id="tr_{{ transaction.id }}"  >
      <th scope="row" >{{ forloop.counter }}</th>
      <td data-toggle="modal" data-target="#myModal{{ transaction.id }}"  onclick="window.document.location='#myModal{{ transaction.id }}'">{{ transaction.trans_made_by }}</td>
      <td data-toggle="modal" data-target="#myModal{{ transaction.id }}"  onclick="window.document.location='#myModal{{ transaction.id }}'">{{ transaction.trans_amount }}</td>
      <td data-toggle="modal" data-target="#myModal{{ transaction.id }}"  onclick="window.document.location='#myModal{{ transaction.id }}'">{{ transaction.desc_of_item_purchased }}</td>
      <td data-toggle="modal" data-target="#myModal{{ transaction.id }}"  onclick="window.document.location='#myModal{{ transaction.id }}'">{{ transaction.date_of_trans }}</td>
    <td><img src="{%  if transaction.status == 0 %}{% static 'images/wait.png' %}{% endif %}
                       {%  if transaction.status == 1 %}{% static 'images/disapproved.png' %}{% endif %}
                       {%  if transaction.status == 2 %}{% static 'images/approved.png' %}{% endif %}
                     " style="width:40px; height:35px;cursor: pointer;" /></td>
    <td><a href="{%  if transaction.status == 0 %}edit?update_id={{transaction.id}}"><img src="{% static 'images/edit.png' %} {% endif %}" style="width:35px; height:35px;cursor: pointer;" /></a></td>
      <td>{%  if transaction.status != 2 %}<img src="{% static 'images/delete.png' %} " style="width:40px; height:35px;cursor: pointer;" onclick="showHint({{ transaction.id }})"/>{% endif %}</td>

      </tr>
                <!-- pop up window content start -->

                 <div class="modal fade" id="myModal{{ transaction.id }}" role="dialog" >
                     <div id="myModal{{ transaction.id }}">
                <div class="modal-dialog" >

                  <!-- Modal content-->
                  <div class="modal-content" >
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Modal Header</h4>
                    </div>
                    <div class="modal-body">
                        <dl class="dl-horizontal">
                            <dt>Transaction Made By:</dt>
                            <dd>{{ transaction.trans_made_by }}</dd>
                            <dt>Type of Transaction:</dt>
                            <dd>{{ transaction.type_of_trans }}</dd>
                            <dt>Transaction Amount</dt>
                            <dd>{{ transaction.trans_amount }}</dd>
                              <dt>Date of Transaction</dt>
                            <dd>{{ transaction.date_of_trans }}</dd>
                              <dt>Description of Item Purchased</dt>
                            <dd>{{ transaction.desc_of_item_purchased }}</dd>
                              <dt>Receiver Name:</dt>
                            <dd>{{ transaction.receiver_name }}</dd>
                              <dt>Receiver Account No.:</dt>
                            <dd>{{ transaction.receiver_accountno }}</dd>
                              <dt>Receiver Phone No.:</dt>
                            <dd>{{ transaction.receiver_phoneno }}</dd>
                              <dt>Receiver Address</dt>
                            <dd>{{ transaction.receiver_address }}</dd>
                              <dt>Description of Transaction</dt>
                            <dd>{{ transaction.descr_of_trans }}</dd>
                            <dd>
                            <a href="gallery?transaction={{ transaction.id }}">
                             <button type="button" class="btn btn-primary" >Gallery</button></a></dd>
                        </dl>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                  </div>

                </div>
                         </div>
              </div>

                <!-- pop up winodw content finish -->

  {% endfor %}

  </tbody>
</table>

    </div>
<!-- pop up window start-->

<!-- pop up window finish -->

</div>

{% endblock %}
{% block javascript %}
    <style type="text/css">
    body{
  padding:20px 20px;
}

.results tr[visible='false'],
.no-result{
  display:none;
}

.results tr[visible='true']{
  display:table-row;
}

.counter{
  padding:8px;
  color:#ccc;
}
    </style>
    <script>
    //popup window function
$(document).ready(function(){
    	 $(".clickable-row").click(function() {
        window.document.location = $(this).data("#myModal");
    });
});
    //delete function


		function showHint(str) {

     if (str.length == 0) {
         document.getElementById("txthint").innerHTML = "bla bla";
         return;
     } else {

         var xmlhttp = new XMLHttpRequest();
          xmlhttp.open("GET", "delete?transaction_id="+str, true);
         xmlhttp.onreadystatechange = function() {

             if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {

             	 document.getElementById("tr_"+str).style.display="none";
			 }
         }

         xmlhttp.send();
     }
}



//search function


    $(document).ready(function() {
  $(".search").keyup(function () {
    var searchTerm = $(".search").val();
    var listItem = $('.results tbody').children('tr');
    var searchSplit = searchTerm.replace(/ /g, "'):containsi('")

  $.extend($.expr[':'], {'containsi': function(elem, i, match, array){
        return (elem.textContent || elem.innerText || '').toLowerCase().indexOf((match[3] || "").toLowerCase()) >= 0;
    }
  });

  $(".results tbody tr").not(":containsi('" + searchSplit + "')").each(function(e){
    $(this).attr('visible','false');
  });

  $(".results tbody tr:containsi('" + searchSplit + "')").each(function(e){
    $(this).attr('visible','true');
  });

  var jobCount = $('.results tbody tr[visible="true"]').length;
    $('.counter').text(jobCount + ' item');

  if(jobCount == '0') {$('.no-result').show();}
    else {$('.no-result').hide();}
		  });
});
    </script>
{% endblock %}
