{% extends 'base.html' %}
{% block content %}
<div class="container">
  <h2>Admin - President of Gymkhana IIT Kanpur</h2>
  <p>Details of all Clubs:</p>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Clubname</th>
        <th>Lastname</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
    {% for user_info in user_info %}
      {% if user_info.id != 1 %}
        <tr onclick="window.document.location='/?user_info_id={{ user_info.id }}'" >
        <td>{{ user_info.username }}</td>
        <td></td>
        <td>john@example.com</td>
      </tr>
        {% endif %}
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}